name: CI

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]
        include:
          - os: ubuntu-latest
            target: Linux
          - os: macos-latest
            target: Macos
          - os: windows-latest
            target: Windows

    env:
      # Deny warnings for all steps
      # (changing this flag triggers a complete rebuild, so it's helpful to define it globally)
      RUSTFLAGS: --deny warnings

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      # Can be removed once https://github.com/actions/runner-images/pull/13076 is released
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2

      - name: Check formatting
        run: cargo fmt --check

      - name: Cargo build 'adblock' package
        run: cargo build --all-features --all-targets

      - name: Cargo build 'adblock' package (no default features)
        run: cargo build --no-default-features --all-targets

      - name: Cargo build 'adblock' package (wasm32)
        if: matrix.os == 'ubuntu-latest'
        run: rustup target add wasm32-unknown-unknown && cargo build --target wasm32-unknown-unknown

      - name: Build npm package
        run: npm ci

      - name: Cargo test 'adblock' package
        run: cargo test --all-features --tests --no-fail-fast

      - name: Cargo test 'adblock' package (release)
        run: cargo test --all-features --release --tests --no-fail-fast

      - name: Cargo test 'adblock' package (no default features)
        run: cargo test --no-default-features --features embedded-domain-resolver,full-regex-handling --tests --no-fail-fast
